<html>
<head>
	<title> the internet is made of cats </title>
</head>
<body>
	<h1> the Cat Fancier </h1>
	<h4> for this was the internet invented </h4> 
<a href="/users/new">click me for new users</a>
</br>
<a href="/sessions/new">click me to log in </a>
</br>

<%if (user) { %>
<a href="/cats/index">click me to see cats </a>
<form action="/logout" method="get">
	<input type="submit" value="log out">
</form>
<%} %>
</body>
</html>
