<html>
<head>
	<title>New Cat</title>
</head>
<body>
<h1> this is: cat chooser </h1>
<a href="index">Take me to the index</a>
</br>
<a href="liked">Actually I want the cats I like</a>
</br>
<a href="disliked">Actually I want the cats I don't like</a>

</body>
</html>