<html>
<head>
	<title>edit</title>
</head>
<body>
	<h1> this is: disliked cats</h1>
<a href="index">Take me to the index</a>
</br>
<a href="liked">Actually I want the cats I like</a>

</body>
</html>