<html>
<head>
	<title>Kitties!</title>
</head>
<body>
<h1> Cat Fancier </h1>
<a href="/cats/chooser"> I want to judge a cat right now</a>
</br>
<a href="/cats/liked"> Show me cats I like</a>
</br>
<a href="/cats/disliked"> Let me see those ugly cats again</a>
</br>
<form action="/logout" method="get">
	<input type="submit" value="Log Out">
</form>
</body>
</html>