<html>
<head>
	<title>blah</title>
</head>
<body>
<h1> this is: cats index </h1>
<a href="/cats/chooser"> I want to judge a cat right now</a>
</br>
<a href="/cats/liked"> Show me cats I like</a>
</br>
<a href="/cats/disliked"> Let me see those ugly cats again</a>
</body>
</html>