<html>
<head>
	<title>Pretty Kitties</title>
</head>
<body>
<h1> this is: liked cats </h1>
<a href="index">Take me to the index</a>
</br>
<a href="disliked">Actually I want the cats I don't like</a>

</body>
</html>